@import "./variable.scss";
/*根据dpr计算font-size*/
@mixin font_dpr($font-size){
  font-size: $font-size;
  [data-dpr="2"] & { font-size: $font-size * 2;}
  [data-dpr="3"] & { font-size: $font-size * 3;}
}
/*通过该函数设置字体大小，后期方便统一管理；*/
@mixin font_size($size){
  @include font_dpr($size);
}
// 不换行
@mixin no-wrap(){
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
// 限制行数
@mixin clamp($row){
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:$row;
}

@mixin bg_color(){
  background: $background-color-theme;
}
@mixin bg_sub_color(){
  background: $background-color-sub-theme;
}

@mixin font_color(){
  color: $font-color-theme;
}
@mixin font_active_color(){
  color: $font-active-color-theme;
}

@mixin border_color(){
  border-color: $border-color-theme;
}

@mixin bg_img($url){
  background-image: url($url + '_night.png');
  background-size: cover;
  background-repeat: no-repeat;
  [data-dpr='2'] & {
    background-image: url($url + '_night@2x.png');
  }
  [data-dpr='3'] & {
    background-image: url($url + '_night@3x.png');
  }
}

