//字体定义规范  Px大写，是为了pxtorem插件不转换成rem
$font_samll:12Px;
$font_medium_s:13Px;
$font_medium:15Px;
$font_large:17Px;


$background-color-theme: #333;//背景主题颜色2(夜间模式)

$background-color-sub-theme: #444;//背景主题颜色2(夜间模式)

$font-color-theme : #ddd;//字体主题颜色2(夜间模式)

$font-active-color-theme : #ffcc33;//字体主题颜色2(夜间模式)

$border-color-theme : #ffcc33;//边框主题颜色2(夜间模式)